@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
width: 100vw;
height: 100vh;
background-color:rgb(28, 28, 28);
color: rgb(249, 249, 249);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
 margin-top: -7px;
}

.brand span{
 color: rgb(143, 116, 53);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: rgb(143, 116, 53);
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active {
 color:rgb(253, 253, 253);
 font-weight: bold;
}

.menu a:hover {
    background-color: rgb(174, 174, 174);
    color: rgb(81, 81, 81);
    transition: ease-in .4s;
    border-radius: 20px;
}

.toggle-menu,
.info-content_subtitle,
.info-content .social-network {
    display: none;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
}

.main img {
    width: 400px;
    border: 7px solid rgb(255, 255, 255);
    height: 520px;
    z-index: 1;
    min-height: 330px;
    min-width: 250px;
   }

h1 {
 font-size: clamp(4vw, 1.5em, 3em);
 color: rgb(143, 116, 53);
}

span {
    color:rgb(240, 244, 242);
}

.download-cv {
    padding: 10px 20px;
    background-color:rgb(143, 116, 53);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor:pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgb(56, 52, 52, 0.80);
    -moz-box-shadow: 1px 3px 11px -5px rgb(56, 52, 52, 0.80);
    box-shadow: 1px 3px 11px -5px rgb(56, 49, 52, .80);

}

.download-cv:hover {
    background-color: rgba(134, 131, 131, 0.283);
    box-shadow: none;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}


.about img {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  grid-column: 1/5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-info {
 grid-column: 5/10;
 padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: rgb(11, 11, 11);
}

.divider {
    height: 4px;
    width: 60px;
    background-color: rgb(143, 116, 53);
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

.portfolio {
    width: 100vw;
    background-color:rgb(28, 28, 28);
    color: rgb(255, 255, 255);
}

.portfolio-headings {
    width: 100%;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2.5em;

}

.portfolio .container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 350px;
    background-color: rgb(16, 16, 16);
    margin: 1em;
}

.card_img {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.card_tittle {
    padding: 20px;
}

.card_projects-links {
    display: flex;
    justify-content: space-evenly;
}

.card_projects-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.card_projects-links i {
    font-size: 1.5em;
}

.card .project-details {
    margin: 0 auto;
    margin: 1em;
    width: 60%;
    
}
.card .project-details a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 241, 241, 0.597);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: rgb(34, 32, 32);
    padding: 20px;
    border-radius: 10px;
    max-width: 50%;
    color: rgb(143, 116, 53);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: rgb(144, 122, 56);
    font-size: 2.5em;
   
}

.projects-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
   background-color: rgba(255, 255, 255, 0.799);
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5,
.social-network  {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    color: rgb(200, 186, 53);
}

.social-network {
    display:flex;
    width: 300px;
    margin-top: 1em;
}


@media screen and (max-width: 800px) {

.menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80vw;
    background-color: rgb(0, 0, 0) ;
    z-index: 10;
    transform: translateX(-110%);
    transition: all .5s ease-in-out;
}

.show-menu {
    transform: translateX(0%);
    transition: all .5s ease-in-out;
}

.menu li {
    margin: 2em;
}

.toggle-menu {
    display: block;
}

.fa-bars {
    font-size: 1.5em;
    margin-top: -.2em;
}

.fa-close {
    display: none;
  }

 .main,
 .about {
    display: flex;
    flex-direction: column-reverse;
 }

 .main img {
    width: min(60%, 400px);
    height: 70vh;
 }

.info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-content .social-network,
.info-content_subtitle {
    display: block;
}

.info-content_subtitle {
    margin-bottom: .5em;
}

.info-content .social-network {
    display: flex;
    justify-content: space-evenly; 
}

.info-content_p {
    display: none;
 }
}